.promo {
    min-height: 100vh;
    min-height: 800px;
    position: relative;
    background: url('../assets/img/main_bg_up.jpg') center (center/cover) no-repeat;
    padding-top: 205px;

    &__title {
        text-shadow: 1px 1px 30px #B0C4DE, 1px 1px 25px #2F4F4F;
        // text-shadow: 1px 1px 30px #00BFFF, 1px 1px 25px #2F4F4F;
        width: 535px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 280px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        border-radius: 5%;
        color: #000;
        font-weight: 700;
        width: 135px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 12px 25px;
        &:hover {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            background: #FFA501;
            
  
        }
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
}
