@media (max-width: 575.98px) {
    .promo {

        &__title {
            text-shadow: 1px 1px 30px black, 2px 2px 2em $main-color;   /* red */
            width: 300px;
            font-size: 26px;
            line-height: 39px;
        }
    }

    .sidepanel {
        display: none;
    }

}